.row {
    width: $gridwidth;
    margin: 0 auto;
    @media(min-width: $tablet) {
        width: $gridwidtht;
    }
    @media(min-width: $desktop) {
        width: $gridwidthd;
    }
    @media(min-width: $desktoplg) {
        width: $gridwidthdlg;
    }
    display: flex;
    flex-wrap: wrap;
    @for $i from 1 through $gridcolumns {
        .col-#{$i} {
            box-sizing: border-box;
            width: percentage($i/$gridcolumns);
            padding-left: $gridgutter / 2;
            padding-right: $gridgutter / 2;
        }
        .offset#{$i} {
            margin-left: percentage($i/$gridcolumns);
        }
    }
    @media(min-width: $tablet) {
        @for $i from 1 through $gridcolumns {
            .col-t-#{$i} {
                box-sizing: border-box;
                width: percentage($i/$gridcolumns);
                padding-left: $gridgutter / 2;
                padding-right: $gridgutter / 2;
            }
            .offset-t-#{$i} {
                margin-left: percentage($i/$gridcolumns);
            }
        }
    }
    @media(min-width: $desktop) {
        @for $i from 1 through $gridcolumns {
            .col-d-#{$i} {
                box-sizing: border-box;
                width: percentage($i/$gridcolumns);
                padding-left: $gridgutter / 2;
                padding-right: $gridgutter / 2;
            }
            .offset-d-#{$i} {
                margin-left: percentage($i/$gridcolumns);
            }
        }
    }
    .col {
        box-sizing: border-box;
        flex: 1;
        flex: none;
        padding-left: $gridgutter / 2;
        padding-right: $gridgutter / 2;
    }
}