$primary: #D27979;
$white: #FFF;
$gray: #343434;
$graydark: #232323;
$black: #121212;
$tablet: 768px;
$desktop: 992px;
$desktoplg: 1200px;
$gridgutter: 20px;
$gridcolumns: 6;
$gridwidth: calc(100% - #{$gridgutter*2});
$gridwidtht: calc(90% - #{$gridgutter*2});
$gridwidthd: $desktop - $gridgutter * 4;
$gridwidthdlg: $desktoplg - $gridgutter * 6;
$basefontsizemobile: 16px;
$basefontsizetablet: 17px;
$basefontsizedesktop: 18px;
$roboto:'Roboto Mono';
$h-header:124px;
$h-header-sm:84px;
$h-footer:84px;
$light:300;
$normal:400;
$bold:700;
$animated-time:0.5s;